@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@plugin "daisyui";
@source "../.flowbite-react/class-list.json";

@layer utilities {
  @keyframes ripple {
    from {
      transform: scale(0);
      opacity:   0.5;
    }
    to {
      transform: scale(4);
      opacity:   0;
    }
  }

  .animate-ripple {
    animation: ripple 600ms linear;
  }

  .ripple {
    @apply absolute rounded-full pointer-events-none;
    background-color: theme('colors.sky.500');
    transform:        scale(0);
    opacity:          0.5;
  }
}